PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=certificados_db
JWT_SECRET=cambiar_en_produccion
JWT_DOWNLOAD_SECRET=cambiar_en_produccion_descarga
FRONTEND_PUBLIC_URL=http://localhost:5173
BACKEND_PUBLIC_URL=http://localhost:3000
EMAIL_USER=
EMAIL_PASS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
UPLOAD_DIR=uploads
NODE_ENV=development
